/* /Pages/Accounting/Login.razor.rz.scp.css */
.row[b-f9wi094tfq] {
    justify-content: center;
}

.login-description[b-f9wi094tfq] {
    margin-top: -20px;
    text-align: center;
}
/* /Shared/AdminLayout.razor.rz.scp.css */
/* /Shared/AdminLeftBar.razor.rz.scp.css */
