@using AUA.ProjectName.WebUi.Utility
<AdminCard>

    <Header>
        <h5 class="title">Change Password</h5>
    </Header>

    <Body>
    <CustomEditForm Model="@_changePasswordVm" SubmitMethod="ChangePasswordAsync">
        <Body>
        <div class="row">
            <div class="col-md-12 pr-3 pl-3">
                <div class="form-group">
                    <label>Current Password:</label>
                    <InputText @bind-Value="_changePasswordVm.OldPassword" type="password" class="form-control"/>
                </div>
            </div>
            <div class="col-md-12 pr-3  pl-3">
                <div class="form-group">
                    <label>New Password:</label>
                    <InputText @bind-Value="_changePasswordVm.NewPassword" type="password" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pr-3  pl-3">
                <div class="form-group">

                    @if (_changePasswordVm.ConfirmPassword == _changePasswordVm.NewPassword)
                    {
                        <label>Confirm New Password (Ok):</label>
                    }
                    else
                    {
                        <label>Confirm New Password:</label>
                    }

                    <input @bind-Value="@_changePasswordVm.ConfirmPassword" @bind-Value:event="oninput" type="password" class="form-control"/>
                </div>
            </div>
        </div>
        </Body>
    </CustomEditForm>
    </Body>
</AdminCard>
