@page "/"
@attribute [Authorize]

<PageTitle>Profile</PageTitle>

<AuthorizeView Policy="@AppConsts.UserAccessAuthorize" Resource="SecurityHelper.CreateUserAccesses(EUserAccess.AppUser)">
    <LayoutView Layout="typeof(AdminLayout)">
        <div class="content">

            <EditProfile/>

            <ChangePassword />

        </div>
    </LayoutView>
</AuthorizeView>