@page "/"
@using AUA.ProjectName.Common.Consts
@using AUA.ProjectName.Common.Enums
@using AUA.ProjectName.WebUi.Utility
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<AuthorizeView Policy="@AppConsts.UserAccessAuthorize" Resource="SecurityHelper.CreateUserAccesses(EUserAccess.AppUser)">
    <LayoutView Layout="typeof(AdminLayout)">
        <div class="content">

            <EditProfile/>

            <ChangePassword />

        </div>
    </LayoutView>
</AuthorizeView>