<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="title">Page Not Found</h5>
        </div>
        <div class="card-body">
            <h1>Error 404</h1>
            <p>Page Not Found</p>
        </div>
    </div>
</div>