<div class="col-md-12">
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="title text-center">Not Authorized</h5>
        </div>
        <div class="card-body">
            <h1 class="text-center">You need to Login!</h1>
            <p class="text-center">Your don't have access to this page unless you login</p>
        </div>
        <div style="display: flex; justify-content: center;">
            <a href="/login" class="btn btn-primary mr-1">Login</a>
            <a href="#" disabled="disabled" class="btn btn-primary">Register</a>
        </div>
    </div>
</div>
