@inherits LayoutComponentBase

<div id="wrapper">
    <AdminLeftBar></AdminLeftBar>

    <div class="main-panel" id="main-panel">

        <AdminTopBar></AdminTopBar>

        <div class="content">
            <div class="row">
                @Body
            </div>
        </div>

    </div>
</div>